body {
    background-color: #f6f6f6;
}

.container-sm {
  max-width: 26rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 6px 0 rgba(49,53,59,.12);
  background-color: white;
  border-radius: .5rem;
  padding: 2rem;
}

#signup {
    text-align: center;
    margin-bottom: 1.5rem;
}

#login {
    margin-top: 1rem;
    display: flex;
}

#login a {
    margin-top: -.09rem;
    margin-left: .32rem;
    text-decoration: none;
}

#message {
    margin-top: 1rem;
}