{% extends 'itech/base.html' %}
{% load static %}

{% block title %}
I-Tech | Daftar Sukses
{% endblock %}

{% block body-bg %}
{% static '/itech/assets/img/bg/body-bg2.webp' %}
{% endblock %}

{% block content %}

<!-- breadcrumbs area start -->
<div class="breadcrumbs_aree breadcrumbs_bg mb-140"
  data-bgimg="{% static '/itech/assets/img/bg/breadcrumbs-bg.webp' %}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs_text text-center">
          <h1>Daftar Sukses</h1>
          <ul class="d-flex justify-content-center">
            <li><a href="index.html">Home </a></li>
            <li><span>//</span></li>
            <li>Daftar Sukses</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumbs area end -->

<!-- gaming  world section start -->
<section class="gaming_world_section mb-140">
  <div class="container">
    <div class="section_title text-center wow fadeInUp mb-60" data-wow-delay="0.1s" data-wow-duration="1.1s">
      <h3>
        Group Whatsapp Short Movie </br> <a
          href="https://chat.whatsapp.com/GRJFXXIWoZh4eUlu57eVix">https://chat.whatsapp.com/GRJFXXIWoZh4eUlu57eVix</a>
      </h3>
    </div>
  </div>
</section>
<!-- gaming  world section end -->

{% endblock %}