{% load static %}

<!--footer area start-->
<footer class="footer_widgets">
  <div class="main_footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="main_footer_inner d-flex">
            <div class="footer_widget_list">
              <div class="footer_logo">
                <a href="#">
                  <img width="220" src="{% static '/itech/assets/img/others/LOGO-ITECH-PNG.png' %}" alt="" />
                </a>
              </div>
              <div class="footer_contact_desc">
                <p>
                  Lomba yang diadakan oleh ekskul ICT dari MAN 4 Jakarta yang bersamaan dengan BOFMAN4 part 13 untuk
                  meningkatkan minat siswa/i di bidang teknologi dan informasi, serta menjadi ajang untuk menyalurkan
                  hobi dan berkreasi bersama.
                </p>
              </div>
              <div class="footer_social">
                <ul class="d-flex">
                  <li>
                    <a aria-label="facebook" class="facebook" href="https://www.instagram.com/ict.man4jkt"><i
                        class="icofont-instagram"></i></a>
                  </li>
                  <li>
                    <a aria-label="dribble" class="dribbble" href="https://www.twitch.tv/ictman4jkt"><i
                        class="icofont-twitch"></i></a>
                  </li>
                  <li>
                    <a aria-label="youtube" class="youtube" href="https://www.youtube.com/c/ICTMAN4Jakarta"><i
                        class="icofont-youtube-play"></i></a>
                  </li>
                  <li>
                    <a aria-label="twitter" class="twitter" href="https://twitter.com/ict4official"><i
                        class="icofont-twitter"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer_widget_list contact">
              <h3>Kontak</h3>
              <div class="footer_contact_info">
                <div class="footer_contact_info_list">
                  <span>Satria (Valorant):</span>
                  <p><a
                      href="https://linevoom.line.me/user/_dfl-i_NNiNMkvIzU2W4Rms-NGu_89SSM5vH-cxQ?utm_medium=windows&utm_source=desktop&utm_campaign=Profile">satriarafi05</a>
                  </p>
                  <p><a href="#">081315005561</a></p>
                </div>
                <div class="footer_contact_info_list">
                  <span>Arya (ShortMovie):</span>
                  <p><a
                      href="https://linevoom.line.me/user/_ddQI6DhbdRqa-lR2ESzzKJ6QkBI7PMbk0S_DBn4?utm_medium=windows&utm_source=desktop&utm_campaign=Profile">arya0456</a>
                  </p>
                  <p><a href="#">082211298700</a></p>
                </div>
              </div>
            </div>
            <div class="footer_widget_list">
              <h3>Didukung Oleh</h3>
              <div class="footer_winners_gallery">
                <div class="footer_winners_list d-flex">
                  <div class="footer_winners_thumb">
                    <a href="#"><img aria-label="game-team" width="75" height="75"
                        src="https://www.dbl.id/uploads/school/66936/750-MAN_4_JAKARTA.png" alt="" /></a>
                  </div>
                  <div class="footer_winners_thumb">
                    <a href="#"><img aria-label="game-team" width="75" height="75"
                        src="{% static '/itech/assets/img/others/BOFMAN-LOGO.png' %}" alt="" /></a>
                  </div>
                  <div class="footer_winners_thumb">
                    <a href="#"><img aria-label="game-team" width="75" height="75"
                        src="https://i.ytimg.com/an/-0IXodGUHa9ULVlHNtV6Ug/featured_channel.jpg?v=5a3698ad"
                        alt="" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer_widget_list footer_list_menu">
              <h3>Konten</h3>
              <div class="footer_menu">
                <ul>
                  <li><a href="{% url 'itech' %}">Home</a></li>
                  <li><a href="{% url 'about-itech' %}">Tentang</a></li>
                  <li><a href="{% url 'timeline' %}">Timeline</a></li>
                  <li><a href="{% url 'juknis' %}">Juknis</a></li>
                  <li><a href="{% url 'faq' %}">FAQ</a></li>
                  <li><a href="{% url 'kontak' %}">Kontak</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer_bottom_inner d-flex justify-content-between">
            <div class="copyright_right">
              <p>
                © 2022 I-Tech Made with <i class="icofont-heart"></i> by
                <a href="https://faziltirtana.vercel.app">Fazil Tirtana</a>
              </p>
            </div>
            <div class="footer_bottom_link_menu">
              <ul class="d-flex">
                <li><a href="#">Syarat & Ketentuan </a></li>
                <li><a href="#">Kebijakan Privasi </a></li>
              </ul>
            </div>

            <div class="scroll__top_icon">
              <a id="scroll-top" href="#"><img aria-label="scroll-top" width="46" height="40"
                  src="{% static '/itech/assets/img/icon/scroll-top.webp' %}" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer area end-->